* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    /* รอเปลี่ยน font */
    font-family: ;
}
/* Nav bar */
nav {
    /* รอเปลี่ยนสี */
    background-color: #4297a0;
    padding: 1.5rem;
    text-align: center;
}

nav a {
    text-decoration: none;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: #f4eae6;
    font-family: "Josefin Sans", sans-serif;
}
/* section info */
.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* รอเปลี่ยนสี */
    background-color: #f4eae6;
    justify-content: center;
    align-items: center ;
}

.card {
    /* รอเปลี่ยนสี */
    width: 500px;
    height: 450px;
    margin: 1rem;
    padding: 1rem;
    background-color: #e57f84;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.picture {
    width: 100%;
    height: 85%;
    background-color: #4297a0;
    object-fit: cover;
    overflow: hidden;
    margin: 5px auto;
    display: block;
    border-radius: 5px;
}
.picture img {
    width: 100%;
    height: auto;
}

.name {
    margin-top: 1rem;
    font-family: "Mali", cursive;
    color: #1f3d4d;
}
.text1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* ทำให้ข้อความอยู่กลาง */
    color: white;
    text-align: center;
    font-size: 18px;
    opacity: 0; /* ข้อความ "text1" เริ่มต้นแสดง */
    transition: opacity 0.5s ease; /* ให้มีการเปลี่ยนแปลงของ opacity เมื่อคลิก */
    font-family: "Mali", cursive;
}
.loop {
    display: flex;
    border: 0.25px solid #2f5061;
    margin-inline: auto;
    position: relative;
    white-space: nowrap;
}
@keyframes scroll-text {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
.text {
    display: inline-block ;
    animation: scroll-text 30s linear infinite; linear infinite;
    margin: 0;
    font-size: larger;
    color: #e57f84;
    font-family: "Josefin Sans", sans-serif;
    margin: 0.5rem;
}
.card.clicked .picture img {
    opacity: 0; /* ทำให้รูปหาย */
}
.card.clicked .text1 {
    opacity: 1; /* ทำให้ข้อความใน "text1" ปรากฏ */
}
<<<<<<< HEAD
=======


>>>>>>> 3b84050717cb90b464ab8ce91d74791e973351f4
